
.night-mode-icon {
    color: #ff8416;
    font-size: 1.22rem;
    position: absolute;
    top: -16px;
    left: -.6rem;
    z-index: 99999999;
    transition: all 0.3s ease-in-out;
}

.ar .night-mode-icon {
    left: 1.2rem;
    top: -12px;
}

.night-mode-icon.dark {
    color: #ede5e5;
}

.scrolled .night-mode-icon {
    top: -25px;

}

.scrolled.ar .night-mode-icon {
    top: -21px;

}

.night-mode-icon:hover {
    color: #fb7800 !important;
}

.night-mode-icon.dark:hover {
    color: #f0802f !important;
}

@media (max-width: 991px) {

    .night-mode-icon {
        font-size: .9rem;
        top: 1.1rem;
        left: .9rem
    }
    .ar .night-mode-icon {
                top: 1.5rem;
        left: 3rem
    }
    .night-mode-icon:hover {
        transform: translateY(-2px);
    }
    .scrolled .night-mode-icon {
        opacity: 0;
        transition: unset;

    }
}