.hero-carousel{
    height: 370px;
}
.carousel-item {
    height: 22.5rem;
}
@media (max-width: 1000px) {
.carousel-item {
    height: 15rem;
}
}
@media (max-width: 600px) {
.carousel-item {
    height: 9rem;
}
}