.hero-carousel {
    height: 370px;
}

.carousel-item {
    height: 22.5rem;
}

.carousel-inner {
    border-radius: 0px 0px 40px 40px;
    box-shadow: #48382f5c 0px 6px;
}

@media (max-width: 1000px) {
    .carousel-item {
        height: 15rem;
    }
}

@media (max-width: 600px) {
    .carousel-item {
        height: 9rem;
    }

    .carousel-inner {
        border-radius: 0px 0px 30px 30px;
        box-shadow: #48382f5c 0px 4px;
    }
}