

.form-control.dark {
    background-color: #444444;
    border: 1px solid #454444;

}

.form-control.dark:focus {
    background-color: #444444;
    border: 1px solid #454444;
    box-shadow: 0 0 0 .1rem rgb(240, 128, 47);

}
.concert-one {
    font-family: 'Concert One', cursive;
}
.order_button {
    font-family: 'Concert One', cursive;

}

.concert_one_font {
    font-family: 'Concert One', cursive;

}

a.order_button {
    font-size: 1.5rem;

}
.overflow-scroll {
    overflow-y: scroll;
}
@media (max-width: 991px) {
    .order_button.fixed_mobile {
        position: fixed;
        bottom: 0;
        left: 0;
        margin: 0;
        z-index: 5555;
        height: 3.1rem;
        border-radius: 8px;
        padding-top: 6px;
    }

}
