.night-mode-icon {
  color: #ff8416;
  margin: 1.3rem;
  margin-left: 2rem !important;
  font-size: 1.4rem;
  position: absolute;
  z-index: 99999999
}
.night-mode-icon.dark {
  color: #ede5e5;
}
.night-mode-icon:hover {
  color: #c43a41;
}
@media (max-width: 991px) {
  .night-mode-icon {
  margin: 1.2rem;
  margin-left: 3.5rem !important;
  font-size: 1.15rem;
  }
}