

.night-mode-icon {
    color: #ff8416;
    font-size: 1.22rem;
    position: absolute;
    z-index: 99999999
}

.night-mode-icon.dark {
    color: #ede5e5;
}

.night-mode-icon:hover {
    color: #fb7800 !important;
}

.night-mode-icon.dark:hover {
    color: #f0802f !important;
}

@media (max-width: 991px) {
    .night-mode-icon {
        margin-right: 1rem !important;
        font-size: 1.15rem;
        right: 4.4rem
    }
}
